@import "tailwindcss";

body {
  background: #f9fafb;
  color: #111827;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
